# ============================================================
# Data Catalog — Environment Variables
# Copy to .env and update values
# ============================================================

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secret_2024

# Databases
DEMO_DB=demo_db
AIRFLOW_DB=airflow_db
OM_DB=openmetadata_db

# OpenMetadata
OM_ADMIN_USER=admin
OM_ADMIN_PASSWORD=Admin@1234

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0jP6bEY=

# OpenSearch
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

# dbt
DBT_THREADS=8
